body {
  display: flex;

  align-items: center;

  justify-content: center;

  background-color: black;

  /* height:100%;
    width: 100%; */
}

.screen {
    width: 1440px;
    height: 1024px;
    background-color: black !important;
  }
  
#game-play {
    /* background-color: white !important; */
    /* border: white solid 3px; */
}

.HUD {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* margin-bottom: 20%; */
    height:13.8671%;
    width: 100%;

    border: black 1px solid;
  }

.PlayerHUD{
    grid-template-columns: 1fr 2fr;
    position: relative;
    display: grid;

    border: black solid 1px;
    width: 40.83333%;
    height: 80%;
}

.HealthBar {
    grid-column: 2/4;
    height:135%;
    width: 100%;
    /* background-color:greenyellow; */
    /* padding-bottom: 20px; */
    
  }

.CharacterIcon {
    grid-row: 1/3;
    width: 100%;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../Images/Blob Icon.png");
    transform: scaleX(-1);
  }

.special{
    position: relative;
    left:0.1%;
    top:15%;
    height:85%;
    width: 80%;
    /* border: solid 1px red; */
}

.special > *{
    height:95%;

}

.SpecialBar{
    width: 85%;
    height:50%;
}

.SpecialIcon{
    width: 20%; 
    background-color:pink; 
}

.SpecialIcon > .iconImg{
    height: 105%;
    width: 100%;
}


#PHUD-2 {
    transform: scaleX(-1);
}

#PHUD-2 .iconImg{
    transform: scaleX(-1);
}

.Dreamfield {
  position: relative;
  display: flex;
  justify-content: center;
  
  top: 35%;

  width: 100%;
  height: 36.398%;
  border: black 1px solid;

  z-index:0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 50%;
  height: 100%;
  /* overflow: visible; */
  column-gap: 0px;
  row-gap: -50px;
}



#grid-1 > .panel{
  background-image: url("../Images/tile_red.jpg");
  transform: scaleX(-1);
}

#grid-2  > .panel{
  background-image: url("../Images/tile_blue.jpg");
  
}


.panel {
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  /* margin-top: -5px; */
  /* width: 52px;
  height: 21px; */

  /* padding: 5px; */
  /* width: 33.33%;
  height: 36.196%; */

  overflow: visible;
  width: 100%;
  height: 100%;
}

.player {
  position: relative;

  width: 50px;
  height: 50px;
  /* z-index: 9999; */
  overflow: visible;
  /* margin:-100%; */
}

.pl {
  position: absolute;
  /* width: 800%;
  height: 750%; */
  
  left: -1150%;
  top: -550%;
  /* z-index: 9999; */
 


}
