#overlay {
    position: fixed;
    /* margin-left: 0%; */
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 1500px;
    /* Full width (cover the whole page) */
    height: 1024px;
    /* Full height (cover the whole page) */
    top: 0;
    /* left: 0; */
    /* right: 0; */
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Black background with opacity */
    z-index: 5;
    /* Specify a stack order in case you're using a different order for other elements */
}

#overlay>* {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 100px;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}