.Dreamfield {
    position: relative;
    display: flex;
    justify-content: center;
    top: 35%;
    width: 100%;
    height: 36.398%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    height: 100%;
    column-gap: 0.5%;
    row-gap: 0.25%;
}

#grid-1 {
    transform: scaleX(-1);
}

#grid-1>.panel {
    background-image: url("../../Images/tile_red.png");
}

#grid-2>.panel {
    background-image: url("../../Images/tile_blue.png");
}

.panel {
    background-size: cover;
    background-repeat: no-repeat;
    width: 102.0%;
    height: 110.5%;
}

.player {
    position: relative;
    width: 98%;
    height: 89.5%;
}

.pl {
    position: absolute;
    left: -240%;
    top: -235%;
}