@import "./Special.css";
.HUD {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* margin-bottom: 20%; */
    height: 13.8671%;
    width: 100%;
    border: black 1px solid;
}

.PlayerHUD {
    grid-template-columns: 1fr 2fr;
    position: relative;
    display: grid;
    /* border: rgb(23, 0, 151) groove 3px; */
    width: 40.83333%;
    height: 80%;
}

.HealthBar {
    grid-column: 2/4;
    height: 135%;
    width: 100%;
    /* background-color:greenyellow; */
    /* padding-bottom: 20px; */
}

.CharacterIcon {
    grid-row: 1/3;
    width: 100%;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scaleX(-1);
}

#PHUD-2 {
    transform: scaleX(-1);
}

#PHUD-2 .iconImg {
    transform: scaleX(-1);
}